<app-nav-bar>
 <h1>FAQ - Perguntas frequentes</h1>
  <div class="accordion" id="accordionExample">
    <div class="row bg-info"></div>
    <div class="container-fluid bg-primary"></div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <p class="h5 text-primary">Qual o diferencial Helpr?</p>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
         <p>Soluções inovadoras na prática. Desafiamos e incentivamos a transformação, pois acreditamos que o plano no papel não muda o mundo.
         </p></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p class="h5 text-primary">O que posso esperar da plataforma?</p>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          <p> Acreditamos que quanto maior a vontade de evoluir, maior é a transformação. Por isso apoiamos e orientamos pessoas e empresas, colaborando para colocar soluções inovadoras em prática.
        </p>
      </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p class="h5 text-primary"> Quais tecnologias são utilizadas?</p>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Além de ferramentas que tornam os processos e métodos mais simples e ágeis, também promovemos a transformação das pessoas. É por isso que orientamos todo o ecossistema por meio de uma experiência de ponta a ponta. Mostramos soluções inovadoras na prática, estando sempre presentes no processo.
          </p>
        </div>
      </div>
    </div>
          <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <p class="h5 text-primary">Como é feito o contato com o cliente?</p>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
         <p>Trabalhamos desde a descoberta do desafio do cliente, através da abertura de chamados, estudamos a operação minuciosamente e elaboramos hipóteses para posteriormente desenvolver soluções sob medida. Construímos as bases para o seu negócio crescer e prosperar.
        </p>
      </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <p class="h5 text-primary">Quais soluções serão desenvolvidas?</p>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <p >Estruturamos, desenvolvemos e otimizamos soluções à medida de acordo com as necessidades do seu negócio através de Serviços e plataformas que garantem clareza e segurança para cenários e ambientes complexos.
        </p>
      </div>
      </div>
    </div>
  </div>
 </app-nav-bar>
